{% extends "base.html" %}
{% block title %}招生信息-本科{% endblock %}
{% block wraptype %}
       
{% endblock %}
{% block content %}
             <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">本科</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">

                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="alert alert-info">
                                    本科招生信息  </div>

                            </div>
                            <!-- .panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
            </div>
{% endblock %}
