{% extends "base.html" %}
{% block title %}权限管理-教师管理 {% endblock %}
{% block wraptype %}
       
{% endblock %}
{% block content %}
                <div id="page-wrapper">
                    <div class="row">
                        <!-- /.col-lg-12 -->
                    </div>
                    <div class="input-group custom-search-form">
                     <form action="" method="get" >
                                <input  name="q" type="search" maxlength="100" class="form-control" placeholder="搜索姓名……">
                                <span class="input-group-btn">
                                <button class="btn btn-default" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </span>
							</form>
					
                            </div>   
					<script>
					length=0;
					</script>
					{% if query %}
					<p>您搜索的是 <span style="color:red"><strong>{{ query }}</span>。
					 <p>找到<span id="demo" style="color:red"></span>个结果.</p>
					{% endif %}
                    <div class="col-lg-pu-12">
                        <div class="panel panel-default">
                            <div class="row">
                    <div class="panel panel-default">
                <a href="/tianjiajiaoshi" class="btn btn-lg btn-success btn-block">添加教师</a>
				<div>
 {% if errors %}
       <ul>
	   <p style="color:red;font-size: 2em;">{{ errors }}</p>
        </ul>
	{% endif %}
	 </div>
                        <div class="panel-heading">
                            教师管理
                        </div>
                        <!-- /.panel-heading -->
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>职称</th>
                                            <th>导师资格</th>
                                            <th>实验室职务</th>
                                            <th>社会兼职</th>
                                            <th>学院行政职务</th>
                                            <th>出生日期</th>
                                            <th>电子邮件</th>
                                            <th>移动电话</th>
                                            <th>办公室电话</th>
                                            <th>管理</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                       {% for post in posts %}
									   {% if  post.valid == 1 %}
                                        <tr>
                                            <td>{{ post.name_cn }}</td>
                                            <td>{{ post.title }}</td>
                                            <td>{{ post.mentor_qual }}</td>
                                            <td>{{ post.position_lab }}</td>
                                            <td>{{ post.position_social }}</td>
                                            <td>{{ post.position_school }}</td>
                                            <td>{{ post.birthdate }}</td>
                                            <td>{{ post.email }}</td>
                                            <td>{{ post.cellphone }}</td>
                                            <td>{{ post.tel }}</td>
											<td><input class="btn btn-warning" type=button onclick="javascript:if(confirm('确认删除吗?'))window.location='/delTeacher/{{ post.teacher_id }}'" value="删除"> </td>
                                        </tr>
										 <script>
							length=length+1;
							</script>
										{% endif %}
									{% endfor %}
									<script>
							document.getElementById("demo").innerHTML=length;
							</script>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                        </div>
                    </div>
                </div>
            </div>
               
{% endblock %}