{% extends "base.html" %}
{% block title %}关于我们-联系我们{% endblock %}
{% block wraptype %}
       
{% endblock %}
{% block content %}
             <div id="page-wrapper">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">联系我们</h1>
                    </div>
                    <!-- /.col-lg-12 -->
                </div>
                <!-- /.row -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default">

                            <!-- /.panel-heading -->
                            <div class="panel-body">
                                <div class="alert alert-info">
                                   

北京理工大学软件学院软件工程系</br>

复杂网络与安全研究实验室</br>

电话: 010-68918271</br>

邮编: 100081</br>

办公时间: 9:00~16:00</br>

电子邮件: sherryshan@bit.edu.cn
 </div>

                            </div>
                            <!-- .panel-body -->
                        </div>
                        <!-- /.panel -->
                    </div>
                </div>
            </div>
{% endblock %}
